
/* FOLLOW SECTION MOBLIE VIEW */
@media screen and (max-width: 768px) {
    .follow-section{
      display: flex;
      flex-direction: column;
      margin: 0;
      background-color: rgb(255, 255, 255);
    }
    .image-holder {
      display: flex;
      flex-wrap: wrap;
      margin: 24px;
      justify-content: center;
      background-color: rgb(255, 255, 255);
  }
  
  .image {
      flex: 0 0 50%; /* Two columns */
      max-width: 50%; /* Two columns */
  }
  
  .image img {
      max-height: 170.1px;
      max-width: 190.6px; 
  }
  
  .sidetfollowitle{
    font-size: 24px;
    height: 31px;
    margin-bottom: 18px;
  }
  .follow-parargrap{
    font-size: 12px;
    color:#858080;
    height: 15px;
    margin-bottom: 18px;
    
  }
  .follow-ViewAllButton{
    width: 125px;
    height: 28px;
    border-width: 1px;
    font-size: 12px;
    font-weight: 400;
    border-color: #B7926A;
    border-radius: 0;
    background-color: white;
    margin-bottom: 20px;
  }
  }
  