
@media screen and (max-width: 768px) {
    .SectionCards{
      display: flex;
      flex-direction: column;
      margin-left: 24px;
      margin-right: 24px;
      margin-top: 24px;
  
    }
  
    .card {
      background: #F9F9F9;
      width: 381px;
      margin-bottom: 24px;
    }
    .card1 {
      background: #F9F9F9;
      width: 381px;
  
    }
  
    .card .img-container{
      width: 381px;
      height: 166px;
      align-items: center;
  
    
    }
  
    .img-container img{
      width: 381px;
      height: 166px;
    }
  
    .card1 .img-container{
      width: 381px;
      height: 166px;
      align-items: center;
  
      
    }
  
  
  
    .card h1{
      font-size: 14px;
      margin-top: 25px;
      margin-bottom: 6px;
      font-weight: 500;
      color: #20293A;
      height: 31px;
      margin-left: 15px;
    }
    .card p{
      font-size: 12px;
      font-weight: 300;
      margin: 0;
      line-height: 1.5em;
      color: #202020;
      position: relative;
      margin-left: 15px;
      margin-bottom: 22px;
  
    }
  
    .card1 h1{
      font-size: 14px;
      margin-top: 25px;
      margin-bottom: 6px;
      font-weight: 500;
      color: #20293A;
      height: 31px;
      margin-left: 15px;
    }
    .card1 p{
      font-size: 12px;
      font-weight: 300;
      height: 109px;
      margin: 0;
      line-height: 1.5em;
      color: #202020;
      position: relative;
      margin-left: 15px;
    }
  
    .learn{
      margin-bottom: 24px;
    }
  }
  